<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- Controller Launches. profproject control and CBF -->
  <node pkg="teamasacontroller" type="teamasacontroller" name="teamasacontroller" output="screen">
		<remap from="/cmd_accel" to="/cmd_accel_pre"/>
	</node>
<!-- CBF params -->
  <arg name="description" default="teamasacontroller"/>

	<arg name="margin" default="30.0"/>
	<arg name="use_margin" default="false"/>
	<arg name="hwil" default="true"/>
	<arg name="readonly" default="false"/>
	<arg name="vsl_hwil_test" default="false"/>
<!-- CBF node -->
  <node pkg="cbf" type="cbf" name="cbf" if="$(eval not readonly and hwil)">
	</node>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- CAN_to_ROS launches, for vehicle interface, subs, rosbag record and safety_checks(?) -->
<node pkg="can_to_ros" type="vehicle_interface" name="vehicle_interface" output="screen" respawn="true" respawn_delay="2" />
  <node pkg="can_to_ros" type ="subs" name="subs" output="screen" if="$(arg hwil)">
	</node>
  <include file="$(find can_to_ros)launch/safety_checks.launch" />
<!-- recording the ros bag -->
 <node pkg="can_to_ros" type ="rosbag_record.sh" name="bashscript2" output="screen" args="$(arg description) $(arg hwil)" />

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~ -->


</launch><?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- Controller Launches. profproject control and CBF -->
  <node pkg="teamasacontroller" type="teamasacontroller" name="teamasacontroller" output="screen">
		<remap from="/cmd_accel" to="/cmd_accel_pre"/>
	</node>
<!-- CBF params -->
  <arg name="description" default="teamasacontroller"/>

	<arg name="margin" default="30.0"/>
	<arg name="use_margin" default="false"/>
	<arg name="hwil" default="true"/>
	<arg name="readonly" default="false"/>
	<arg name="vsl_hwil_test" default="false"/>
<!-- CBF node -->
  <node pkg="cbf" type="cbf" name="cbf" if="$(eval not readonly and hwil)">
	</node>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- CAN_to_ROS launches, for vehicle interface, subs, rosbag record and safety_checks(?) -->
<node pkg="can_to_ros" type="vehicle_interface" name="vehicle_interface" output="screen" respawn="true" respawn_delay="2" />
  <node pkg="can_to_ros" type ="subs" name="subs" output="screen" if="$(arg hwil)">
	</node>
  <include file="$(find can_to_ros)launch/safety_checks.launch" />
<!-- recording the ros bag -->
 <node pkg="can_to_ros" type ="rosbag_record.sh" name="bashscript2" output="screen" args="$(arg description) $(arg hwil)" />

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~ -->


</launch>
